/* smart phones and tablets */
@media (max-width:767px)
{
    .navbar-inverse .navbar-nav > li > a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .subscribe .form-control
    {
        margin: 20px auto;
        width:400px;
    }
}
/* small screens */
@media (min-width:768px) and (max-width:991px)
{
    
}
/* medium screens */
@media (min-width:992px) and (max-width:1199px)
{
    
}
/* large screens */
@media (min-width:1200px)
{
    
}

/* end section media query */